html::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  background: url(1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-container {
  max-width: 300px;
  margin: 20px;
}

.custom-container .btn {
  text-align: left;
}

h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(33, 189, 2);
  font-family: Verdana,;
  font-weight: 500;
  font-size: 45px;
  text-shadow: #000000;
}

p {
  text-transform: uppercase;
  text-align: center;
  color: rgb(33, 189, 2);
  font-family: Fantasy;
  font-weight: 500;
  font-size: 50px;
  text-shadow: #000000;
}

h2 {
  color: rgb(33, 148, 27);
  text-align: left;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  margin: 20px;
}


h3 {
  font-size: 30px;
  color: #00ff37;
}

h4 {
  text-align: center;
  font-size: 20px;
  color: #1ba000;
}

table {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

th,
td {
  border: 1px solid rgb(5, 0, 0);
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #000000;
  font-size: 18px;
  font-weight: bold;
}

video {
  max-width: 100%;
  max-height: 100%;
}

.vid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0cm;
}

.model div {
  color: #ff0000;
}
.img{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.ovid{
  padding: 0 20px;


}

@media (max-width: 800px){
  body {
    max-width: 90%;
    margin: 0 auto;
  }

  table {
  width: 100%;
  font-size: 1em;
  }

.img {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.ovid { 
  display: flex;
  margin-left: 20vh;
  margin-right: -20vh;
  justify-content: space-evenly; 
}
.navbar-collapse {
  display: none;
}

.navbar-toggler {
  display: block;
}

.navbar-toggler[aria-expanded="true"] + .navbar-collapse {
  display: block;
}
  
.navbar-nav .nav-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar-nav {
  flex-direction: column;
}
.navbar-nav .nav-item {
  margin-right: 0;
  margin-bottom: 0.5rem;
}
}