body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: David;
  font-weight: 500;
  font-size: 60px;
}

h2 {
  margin-top: 10px;
  text-align: center;
  color: rgb(208, 255, 0);
  font-family: David;
  font-weight: 500;
  font-size: 40px;
}

html::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url(traffic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(3px); /* Add this line to blur the background image */
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

button {
  margin-top: 25px;
  border: 1px solid rgb(225, 255, 0);
  font-size: 20px;
  border-radius: 12px;
  background: linear-gradient(to bottom, rgb(172, 236, 22), rgb(208, 255, 0));
  color: white;
  padding: 10px;
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.but {
  display: flex;
  justify-content: space-between;
}

.button-1 {
  margin-right: 15px;
}
/* ............................................... */

@media (max-width: 800px){
  body {
    max-width: 90%;
    margin: 0 auto;
  }

h1 {
  font-size: 2.7em;
}

h2 {
  font-size: 1.5em;
}
}
